<header>
  <img
    src="assets/img/elise.jpg"
    alt="Elise Flaneuse - Profile Picture"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Elise Flaneuse</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack JavaScript | Angular</p>
    <p>
      Full Stack Developer with a background in Visual Arts, passionate about
      web development and blending creativity with problem-solving. Skilled in
      HTML, CSS, Node.js, TypeScript, Angular, Git, Java APIs, Spring ecosystem,
      MySQL databases.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assests/pdf/resume.pdf"
            target="_blank"
            class="btn btn-primary"
            >Download Resume</a
          >
          <a
            href="https://www.linkedin.com/in/elise-flaneuse/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="WhatsApp icon"
          width="22px"
          height="24px"
        />
      <figcaption>
        <a
          href="https://api.whatsapp.com/send?phone=551994175828&text=Ol%C3%A1%20Elise,%20preciso%20de%20um%20job!"
          target="_blank"
        >
          <strong>Send a message to:</strong>
          <p>WhatsApp: +55 (19) 99417-5828</p>
        </a>
      </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Mail icon"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:eliseflaneuse@gmail.com" target="_blank">
            <strong>Send a mail to:</strong>
            <p>eliseflaneuse&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
